body {
    padding: 20px;
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 14px;
        color: #111;
    }
    p, u1 {
        margin-bottom: 10px;
    }
    u1 {
        margin-left: 20px;
    }
    h1 {   <!- Added on 2018-03-01T11:44:04 these font sizes and link colors ->
      font-size: 32px;
    }
    h2 {   <!- Added on 2018-03-01T11:44:04 these font sizes and link colors ->
      font-size: 24px;
    }
    a:link, a:visited { <!- Added on 2018-03-01T11:44:04 these font sizes and link colors ->
      color: #03C;
    }
    h3 { <!- Belatedly added on 2018-03-01T11:48:18 this font size. -> 
      font-size: 18px;
      margin-left: 20px;
    }
